[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "extern/imnodes"]
	path = extern/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "extern/portable-file-dialogs"]
	path = extern/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "extern/zep"]
	path = extern/zep
	url = https://github.com/nyuruN/zep.git
[submodule "extern/IconFontCppHeaders"]
	path = extern/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
